---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="housewarming" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1><a>housewarming.</a></h1>
      <p>7 january 2023 @ 8ish</p>
      <p>
        we've recently moved, and allison and i decided to throw a small
        gathering at our place to commemorate the occasion. we would love your
        company.
      </p>
      <p>
        our new place is at <a href="https://goo.gl/maps/sya4A1HMtcZczq8W9"
          >67 troutman st. unit 2, bushwick brooklyn, 11206</a
        >
      </p>
      <p>
        give allison or myself a text or call when you arrive, somebody will
        have to come down and open the door.
      </p>
      <p>
        we will have drinks and light snacks, but if you want anything in
        particular feel free to byo.
      </p>
      <p>there will be gumbo.</p>
      <p>
        at 10:30ish we are planning to head to mad tropical, bossa, farewell, or
        one of the many other bushwick bars at our disposal.
      </p>
      <p>we hope you will be able to join us.</p>

      <p>sf - 678.621.4871<br />am - 225.892.3028</p>
    </main>
  </body>
</html>
