---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="the big game" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1><a>the big game.</a></h1>
      <p>when: february 11 at 5:30 pm. kickoff at 6:30 pm.</p>
      <p>
        where: <a href="https://goo.gl/maps/sya4A1HMtcZczq8W9"
          >67 troutman st. unit 2, bushwick brooklyn, 11206</a
        >
      </p>
      <p>
        please text or call allison or myself upon arrival for us to let you in
        downstairs
      </p>
      <p>
        we are excited to welcome you to our home for the viewing of superbowl
        xviii. food and drinks will be provided, if you're so inclined, feel
        free to bring something to share, or the beverage of your choice.
      </p>

      <p>please keep taylor swift and travis kelce jokes to a minimum</p>

      <p>
        all conversations taking place in spanish should use the formal usted,
        and all conversations in german should use the formal siezen
      </p>

      <p>thank you and we are excited for you to join us.</p>

      <p>sf - 678.621.4871<br />am - 225.892.3028</p>
    </main>
    <Footer />
  </body>
</html>
